USE [master]
GO
/****** Object:  Database [WeatherApp]    Script Date: 25-10-2024 15:53:12 ******/
CREATE DATABASE [WeatherApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WeatherApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WeatherApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WeatherApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WeatherApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WeatherApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WeatherApp]
GO
/****** Object:  Table [dbo].[AlertHistory]    Script Date: 25-10-2024 15:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlertHistory](
	[AlertID] [int] IDENTITY(1,1) NOT NULL,
	[AlertMessage] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[Timestamp] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WeatherData]    Script Date: 25-10-2024 15:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeatherData](
	[City] [varchar](50) NOT NULL,
	[Region] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[Weather] [varchar](50) NULL,
	[Time] [varchar](50) NULL,
	[TemperatureC] [float] NULL,
	[TemperatureF] [float] NULL,
	[TemperatureK] [float] NULL,
	[Humidity] [varchar](50) NULL,
	[WindSpeed] [varchar](50) NULL,
	[Timestamp] [datetime] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
